.btn-active {
    background-color: yellowgreen;
    border-color: yellowgreen;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.green {
    background-color: greenyellow;
}

.orange {
    background-color: orange;
}

.red {
    background-color: orangered;
}

.yellow {
    background-color: yellow;
}

.bold-text {
    font-weight: bold;
}

.body {
    font-size: 10px; !important;
}