<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <table class="table-striped table-bordered table table-hover">
                <tbody>
                <tr ng-repeat="team in teams | orderBy:'name'">
                    <td class="btn btn-default" ng-click="getStatistics(team.name)">
                        {{team.name}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-offset-1 col-sm-3">
            <div>
                Goals per minute total
            </div>
            <div>
                <canvas id="bar" class="chart chart-bar"
                        chart-data="data" chart-labels="labels"> chart-series="series"
                </canvas>
            </div>
        </div>
    </div>

</div>


