<div class="container-fluid">
    <div class="row">
        <div class="col-sm-offset-1 col-sm-7">
            <div class="col-sm-6">
                <h4>Match day: {{getCurrentMatchDay()}}</h4>
            </div>
            <div class="btn btn-success" ng-disabled="matchDayNumber === 1"
                 ng-click="getPreviousMatchDay()">previous</div>
            <div class="btn btn-success" ng-disabled="matchDayNumber === 34" ng-click="getNextMatchDay()">next</div>
            <div class="btn btn-success" ng-click="runNextMatchDay()">run</div>
        </div>
    </div>

    <div class="row" style="height: 20px;"></div>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-7">
            <table class="table table-condensed table-bordered">
                <tr ng-repeat="match in matches">
                    <td class="col-sm-3">{{match.homeTeam.name}}</td>
                    <td class="col-sm-3">{{match.guestTeam.name}}</td>
                    <td class="col-sm-1">{{match.result.homeGoals}} : {{match.result.guestGoals}}</td>
                    <td class="col-sm-1">({{match.halfTime.homeGoals}} : {{match.halfTime.guestGoals}})</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-7">
            <table class="table table-condensed table-bordered">
                <thead style="background-color: darkgray; font-weight: bold">
                    <tr>
                        <td>Place</td>
                        <td>Team</td>
                        <td>won</td>
                        <td>draw</td>
                        <td>lost</td>
                        <td>goals</td>
                        <td>points</td>
                    </tr>
                </thead>
                <tr ng-class="{'green': $index===0, 'yellow': $index>0&&$index<6, 'orange': $index===15, 'red': $index>15}"
                    ng-repeat="entry in table.entries">
                    <td>{{entry.place}}</td>
                    <td>{{entry.team.name}}</td>
                    <td>{{entry.totalGamesWon}}</td>
                    <td>{{entry.totalGamesDraw}}</td>
                    <td>{{entry.totalGamesLost}}</td>
                    <td>{{entry.totalGoals}} : {{entry.totalReceivedGoals}}</td>
                    <td>{{entry.points}}</td>
                </tr>
            </table>
        </div>
    </div>

</div>