<div class="container-fluid">

    <div class="row">
        <div class="col-sm-offset-1 col-sm-7">
            <div class="col-sm-6">
                <h4>Match day: {{matchDayNumber}}</h4>
            </div>
            <div class="btn btn-success" ng-click="getPreviousMatchDay()">previous</div>
            <div class="btn btn-success" ng-click="getNextMatchDay()">next</div>
            <div class="btn btn-success" ng-click="runNextMatchDay()">run</div>
        </div>
    </div>

    <div class="row" style="height: 20px;"></div>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-7">
            <table class="table table-condensed table-bordered">
                <tr ng-repeat="match in matches">
                    <td class="col-sm-3">{{match.homeTeam.name}}</td>
                    <td class="col-sm-3">{{match.guestTeam.name}}</td>
                    <td class="col-sm-1">{{match.result.homeGoals}} : {{match.result.guestGoals}}</td>
                    <td class="col-sm-1">({{match.halfTime.homeGoals}} : {{match.halfTime.guestGoals}})</td>
                </tr>
            </table>
        </div>
    </div>
</div>